/*-------------
 	General
-------------*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
p.message{
	color: #984350;
	font-size: 1.0em;
	font-weight: 800;
	text-align: center;
}

html{
	font: normal 16px sans-serif;
	color: #555;
}

ul, nav{
	list-style: none;
}

button{
	text-decoration: none;
	color: inherit;
	cursor: pointer;

	opacity: 0.9;
}

button:hover{
	opacity: 1;
}

button.btn{
	color: #fff;
	border-radius: 4px;
	text-transform: uppercase;
	background-color: #4C4398;
	font-weight: 800;
	text-align: center;
	float: left;
}

hr{
	width: 150px;
	height: 2px;
	background-color: #4C4398;
	border: 0;
	margin-bottom: 80px;
}

div {
	margin: 0 auto;
	width: 80%;
	text-align: center;
}

section{
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 125px 100px;
}

@media (max-width: 1000px){

	section{
		padding: 100px 50px;
	}

}

@media (max-width: 600px){

	section{
		padding: 80px 30px;
	}

}

section h3.title{
	color: #414a4f;
	text-transform: capitalize; 
	font: bold 32px 'Open Sans', sans-serif;
	margin-bottom: 35px;
	text-align: center;
}

section p{
	max-width: 800px;
	text-align: center;
	margin-bottom: 35px;
	padding: 0 20px;
	line-height: 2;
}

ul.grid{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}


/*-------------
 	Header
-------------*/

header{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	padding: 35px 100px 0;
	background-color: #4C4398;
	text-align: center;

}

header h1{
	font-family: 'Lato', sans-serif;
	text-align: center;
	width: 100%;
	font-size: 4em;
	text-transform: uppercase;
	font-weight: 100;
}

header h1 span{
	font-family: 'Lato', sans-serif;
	text-align: center;
	width: 100%;
	font-size: 1em;
	text-transform: uppercase;
	font-weight: 700;
}
header nav{
	display: flex;
}

header nav li{
	margin: 0 15px;
}

header nav li:first-child{
	margin-left: 0;	
}

header nav li:last-child{
	margin-right: 0;	
}



@media (max-width: 1000px){
	header{
		padding: 20px 50px;
	}
}


@media (max-width: 700px){
	header{
		flex-direction: column;		
	}

	header h2{
		margin-bottom: 15px;
	}
}



/*----------------
 	Hero Section
----------------*/

.hero{
	position: relative;
	justify-content: center;
	min-height: 80vh;
	color: #fff;
	text-align: center;
	margin: auto;
	margin-top: 2em;

}

.hero .background-image{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 10px auto;
	background-size: cover;
	background-color: #4C4398;
	background-repeat: no-repeat;
	background-position: top center;
	z-index: -1;
}


.hero h1{
	font: bold 60px 'Open Sans', sans-serif;
	margin-bottom: 15px;
}

.hero h3{
	font: normal 28px 'Open Sans', sans-serif;
	margin-bottom: 40px;
}

.hero a.btn{
	padding: 20px 46px;
}

@media (max-width: 800px){

	.hero{
		min-height: 400px;
	}

	.hero h1{
		font-size: 48px;
	}

	.hero h3{
		font-size: 24px;
	}

	.hero a.btn{
		padding: 15px 40px;
	}

}



/*---------------------
 	Contact Section
---------------------*/

.contact{
	background-color: #f7f7f7;
}

.contact div#root div form{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;

	max-width: 800px;
	
}

.contact div#root div form input{
	padding: 15px;
	flex: 1;
	margin-right: 30px;
	font-size: 18px;
	color: #555;
}

.contact div#root div form button.btn{
	padding: 18px 42px;
}

.sponsors img#sponsors{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 55%;
	height: auto;
	margin: 0 auto;
}

@media (max-width: 800px){

	.contact div#root div form input{
		flex-basis: 100%;
		margin: 0 0 20px 0;
	}

}




/*-------------
 	Footer
-------------*/

footer{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: #fff;
	background-color: #000000;
	padding: 60px 0;
}

footer ul{
	display: table-column;
	margin-bottom: 25px;
	font-size: 32px;
}

footer ul li{
	margin: 0 8px;	
}

footer ul li:first-child{
	margin-left: 0;	
}

footer ul li:last-child{
	margin-right: 0;	
}

footer p{
	text-transform: uppercase;
	font-size: 14px;
	color: rgba(255,255,255,0.6);
	margin-bottom: 10px;
}

footer p a{
	color: #fff;
}

footer img {
	width: 40%;
	height: auto;
}

@media (max-width: 700px){

	footer{
		padding: 80px 15px;
	}

}