---
import Header from '../components/Header.astro';
import Gallery from '../components/Gallery.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
import { AstroFont } from 'astro-font';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="LincolnHack 24-hour hackathon. Saturday 23rd - Sunday 24th March 2024, at Mosaic Lincoln, 13-14 Silver St, Lincoln, LN2 1DY. Free for anyone to attend" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />

		<AstroFont
			config={[
				{
					src: [],
					preload: false,
					display: "swap",
					fallback: "sans-serif",
					name: "Share Tech Mono",
					cssVariable: "font-share",
					googleFontsURL: 'https://fonts.googleapis.com/css2?family=Share+Tech+Mono',
				},
				{
					src: [],
					name: "Roboto",
					preload: false,
					display: "swap",
					fallback: "sans-serif",
					cssVariable: "font-roboto",
					googleFontsURL: 'https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900',
				},
			]}
		/>

		<title>{title}</title>
	</head>
	<body class="bg-gray-100">
		<Header></Header>
		<slot />
		
	<Footer></Footer>
	</body>
</html>

<style is:global>
		.shareTechFont,
		h1,
        h2,
        h3 {
            font-family: "var(--font-share)", monospace;
            font-weight: 400;
            font-style: normal;
        }

        body {
            font-family: "var(--font-roboto)", sans-serif;
            font-weight: 400;
            font-style: normal;
        }
		footer {
			background-color: #4C4398;
			min-height: 11em;
		}
		footer a {
			color: #fff;
			text-decoration: none;
			font-weight: 500;
		}

        .lincolnHack-purple {
            background-color: #4C4398;
        }

        .button-dark-purple {
            background-color: #3A3477;
        }

        a {
            cursor: pointer;
        }

        img {
            max-width: 100%;
            height: auto;
        }
</style>
