---

---
<section id="agenda" class="mb-4 md:mb-0">
<h2 class="shareTechFont mb-2">See what is happening throughout the weekend.</h2>
<p class="text-gray-600 text-xs mb-6">Please note, while we aim to adhere to the times listed, there may be slight adjustments due to the dynamic nature of the event.</p>
<h3 class="shareTechFont text-xl"> Saturday </h3>
<div class="max-w-5xl mx-auto mt-8 ">
    <div class="border-l-2 border-gray-500 pl-8">
        <div class="flex flex-col md:flex-row md:justify-between">
            <div class="mb-4 md:mb-0">
                <h3 class="text-xl font-bold mb-2">Registration</h3>
                <p class="text-gray-600 text-sm">Date: Saturday 23rd,<br/> 09:00 - 10:00</p>
            </div>
            <p class="text-gray-700 event__time" data-starttime="1711184400" >&nbsp;</p>
        </div>
        <div class="flex flex-col md:flex-row md:justify-between mt-8">
            <div class="mb-4 md:mb-0">
                <h3 class="text-xl font-bold mb-2">Challenge Annoucements and Sponsor intros</h3>
                <p class="text-gray-600 text-sm">Date: Saturday 23rd,<br/> 10:00 - 10:30 </p>
            </div>
            <p class="text-gray-700 event__time" data-starttime="1711188000" >&nbsp;</p>
        </div>
        <div class="flex flex-col md:flex-row md:justify-between mt-8">
            <div class="mb-4 md:mb-0">
                <h3 class="text-xl font-bold mb-2">Start Hacking</h3>
                <p class="text-gray-600 text-sm">Date: Saturday 23rd,<br/> 10:30 - 12:00 </p>
            </div>
               <p class="text-gray-700 event__time" data-starttime="1711189800" >&nbsp;</p>
        </div>
        <div class="flex flex-col md:flex-row md:justify-between mt-8">
            <div class="mb-4 md:mb-0">
                <h3 class="text-xl font-bold mb-2">Lunch</h3>
                <p class="text-gray-600 text-sm">Date: Saturday 23rd,<br/> 12:00 - 13:00 </p>
            </div>
            <p class="text-gray-700 event__time" data-starttime="1711195200" >&nbsp;</p>
      </div>
        <div class="flex flex-col md:flex-row md:justify-between mt-8">
            <div class="mb-4 md:mb-0">
                <h3 class="text-xl font-bold mb-2">Dinner</h3>
                <p class="text-gray-600 text-sm">Date: Saturday 23rd,<br/> 18:00 - 19:00</p>
        
            </div>
            <p class="text-gray-700 event__time" data-starttime="1711216800" >&nbsp;</p>
        </div>
    </div>
</div>
<h3 class="shareTechFont text-xl mt-4"> Sunday </h3>
<div class="max-w-5xl mx-auto mt-8 ">
    <div class="border-l-2 border-gray-500 pl-8">
        <div class="flex flex-col md:flex-row md:justify-between">
            <div class="mb-4 md:mb-0">
                <h3 class="text-xl font-bold mb-2">Breakfast</h3>
                <p class="text-gray-600 text-sm">Date: Sunday 24th,<br/> 08:00 - 09:00</p>
            </div>
            <p class="text-gray-700 event__time" data-starttime="1711267200" >&nbsp;</p>
        </div>
        <div class="flex flex-col md:flex-row md:justify-between mt-8">
            <div class="mb-4 md:mb-0">
                <h3 class="text-xl font-bold mb-2">Hacking Ends</h3>
                <p class="text-gray-600 text-sm">Date: Sunday 24th,<br/> 12:30 </p>
            </div>
            <p class="text-gray-700 event__time" data-starttime="1711283400" >&nbsp;</p>
        </div>
        <div class="flex flex-col md:flex-row md:justify-between mt-8">
            <div class="mb-4 md:mb-0">
                <h3 class="text-xl font-bold mb-2">Lunch</h3>
                <p class="text-gray-600 text-sm">Date: Sunday 24th,<br/> 12:30 - 13:00 </p>
            </div>
               <p class="text-gray-700 event__time" data-starttime="1711283400" >&nbsp;</p>
        </div>
        <div class="flex flex-col md:flex-row md:justify-between mt-8">
            <div class="mb-4 md:mb-0">
                <h3 class="text-xl font-bold mb-2">Demos  and Judging </h3>
                <p class="text-gray-600 text-sm">Date: Sunday 24th,<br/> 13:00 - 15:00 </p>
            </div>
            <p class="text-gray-700 event__time" data-starttime="1711285200" >&nbsp;</p>
      </div>
        <div class="flex flex-col md:flex-row md:justify-between mt-8">
            <div class="mb-4 md:mb-0">
                <h3 class="text-xl font-bold mb-2">Prizes</h3>
                <p class="text-gray-600 text-sm">Date: Sunday 24th,<br/> 15:30 </p>
        
            </div>
            <p class="text-gray-700 event__time" data-starttime="1711294200" >&nbsp;</p>
        </div>
    </div>
</div>
</section>

<script>
const agenda = () => {
    const agendaItems = document.querySelectorAll('.event__time');

    if (agendaItems.length > 0) {
        agendaItems.forEach((item) => {
            let date_future =  new Date(parseInt(item.dataset.starttime) * 1000);
        
            let date_now = new Date().valueOf();
    
            var delta = Math.abs(date_future - date_now) / 1000;

            var days = Math.floor(delta / 86400);
            delta -= days * 86400;

            var hours = Math.floor(delta / 3600) % 24;
            delta -= hours * 3600;

            // calculate (and subtract) whole minutes
            var minutes = Math.floor(delta / 60) % 60;
            delta -= minutes * 60;

            // check if date_future in past, present or future
            if (date_future < date_now) {
                item.classList.add('agenda__item--past');
                item.innerHTML = '';
            } else {
                item.classList.add('agenda__item--future');
                
                item.innerHTML = 'starting in ' + hours + ' hours ' + minutes + ' minutes';
            }
        })
    }
};
window.addEventListener('DOMContentLoaded', agenda);
interval = setInterval(agenda, 5000);
</script>