---

---
<section id="agenda" class="mb-4 md:mb-0">
<h2 class="shareTechFont mb-2"> See what is happening throughout the weekend </h2>
<h3 class="shareTechFont text-xl"> Saturday </h3>
<div class="max-w-5xl mx-auto mt-8 ">
    <div class="border-l-2 border-gray-500 pl-8">
        <div class="flex flex-col md:flex-row md:justify-between">
            <div class="mb-4 md:mb-0">
                <h3 class="text-xl font-bold mb-2">Registration</h3>
                <p class="text-gray-600 text-sm">Date: Saturday 23rd,<br/> 09:00 - 10:00</p>
            </div>
            <p class="text-gray-700 event__time" data-starttime="1711184400" >&nbsp;</p>
        </div>
        <div class="flex flex-col md:flex-row md:justify-between mt-8">
            <div class="mb-4 md:mb-0">
                <h3 class="text-xl font-bold mb-2">Challenge Annoucements and Sponsor intros</h3>
                <p class="text-gray-600 text-sm">Date: Saturday 23rd,<br/> 10:00 - 10:30 </p>
            </div>
            <p class="text-gray-700 event__time" data-starttime="1711188000" >&nbsp;</p>
        </div>
        <div class="flex flex-col md:flex-row md:justify-between mt-8">
            <div class="mb-4 md:mb-0">
                <h3 class="text-xl font-bold mb-2">Start Hacking</h3>
                <p class="text-gray-600 text-sm">Date: Saturday 23rd,<br/> 10:30 - 12:00 </p>
            </div>
               <p class="text-gray-700 event__time" data-starttime="1711189800" >&nbsp;</p>
        </div>
        <div class="flex flex-col md:flex-row md:justify-between mt-8">
            <div class="mb-4 md:mb-0">
                <h3 class="text-xl font-bold mb-2">Lunch</h3>
                <p class="text-gray-600 text-sm">Date: Saturday 23rd,<br/> 12:00 - 13:00 </p>
            </div>
            <p class="text-gray-700 event__time" data-starttime="1711195200" >&nbsp;</p>
      </div>
        <div class="flex flex-col md:flex-row md:justify-between mt-8">
            <div class="mb-4 md:mb-0">
                <h3 class="text-xl font-bold mb-2">Dinner</h3>
                <p class="text-gray-600 text-sm">Date: Saturday 23rd,<br/> 18:00 - 19:00</p>
        
            </div>
            <p class="text-gray-700 event__time" data-starttime="1711216800" >&nbsp;</p>
        </div>
    </div>
</div>
<h3 class="shareTechFont text-xl mt-4"> Sunday </h3>
<div class="max-w-5xl mx-auto mt-8 ">
    <div class="border-l-2 border-gray-500 pl-8">
        <div class="flex flex-col md:flex-row md:justify-between">
            <div class="mb-4 md:mb-0">
                <h3 class="text-xl font-bold mb-2">Breakfast</h3>
                <p class="text-gray-600 text-sm">Date: Sunday 24th,<br/> 08:00 - 09:00</p>
            </div>
            <p class="text-gray-700 event__time" data-starttime="1711267200" >&nbsp;</p>
        </div>
        <div class="flex flex-col md:flex-row md:justify-between mt-8">
            <div class="mb-4 md:mb-0">
                <h3 class="text-xl font-bold mb-2">Hacking Ends</h3>
                <p class="text-gray-600 text-sm">Date: Sunday 24th,<br/> 12:30 </p>
            </div>
            <p class="text-gray-700 event__time" data-starttime="1711283400" >&nbsp;</p>
        </div>
        <div class="flex flex-col md:flex-row md:justify-between mt-8">
            <div class="mb-4 md:mb-0">
                <h3 class="text-xl font-bold mb-2">Lunch</h3>
                <p class="text-gray-600 text-sm">Date: Sunday 24th,<br/> 12:30 - 13:00 </p>
            </div>
               <p class="text-gray-700 event__time" data-starttime="1711283400" >&nbsp;</p>
        </div>
        <div class="flex flex-col md:flex-row md:justify-between mt-8">
            <div class="mb-4 md:mb-0">
                <h3 class="text-xl font-bold mb-2">Demos  and Judging </h3>
                <p class="text-gray-600 text-sm">Date: Sunday 24th,<br/> 13:00 - 15:00 </p>
            </div>
            <p class="text-gray-700 event__time" data-starttime="1711285200" >&nbsp;</p>
      </div>
        <div class="flex flex-col md:flex-row md:justify-between mt-8">
            <div class="mb-4 md:mb-0">
                <h3 class="text-xl font-bold mb-2">Prizes</h3>
                <p class="text-gray-600 text-sm">Date: Sunday 24th,<br/> 15:30 </p>
        
            </div>
            <p class="text-gray-700 event__time" data-starttime="1711294200" >&nbsp;</p>
        </div>
    </div>
</div>
</section>
