---
const { left, right } = Astro.props;

---
<div class="max-w-4xl mx-auto mt-5 mb-5" transition:animate="slide">
    <div class="bg-white shadow overflow-hidden sm:rounded-lg min-h-screen">
        <div class="flex justify-between items-center p-5">
            <a href={left} class="fixed-arrow-left invisible lg:visible">
                <svg enable-background="new 0 0 15 26" height="56px" id="Layer_1" version="1.1" viewBox="0 0 15 26" width="75px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <polygon fill="#231F20" points="12.885,0.58 14.969,2.664 4.133,13.5 14.969,24.336 12.885,26.42 2.049,15.584 -0.035,13.5 "/>
                  </svg>            </a>
            <div class="flex-grow">
                <slot />
            </div>
            <a href={right} class="fixed-arrow-right invisible lg:visible">
                <svg enable-background="new 0 0 15 26" height="56px" id="Layer_1" version="1.1" viewBox="0 0 15 26" width="75px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><polygon fill="#231F20" points="2.019,0.58 -0.035,2.634 10.646,13.316 -0.035,23.997 2.019,26.052 14.755,13.316 "/></svg>
            </a>
        </div>
    </div>
</div>


<style>
    .fixed-arrow-left, .fixed-arrow-right {
      position: fixed;
      top: 50%; /* Center vertically */
      transform: translateY(-50%);
    }
    
    .fixed-arrow-left {
      left: 10px; /* Adjust distance from the left edge */
    }
    
    .fixed-arrow-right {
      right: 10px; /* Adjust distance from the right edge */
    }
</style>

<script>
    document.addEventListener('keydown', function(event) {
      const leftArrow = document.querySelector('.fixed-arrow-left');
      const rightArrow = document.querySelector('.fixed-arrow-right');
  
      if (event.key === 'ArrowLeft' && leftArrow) {
        window.location.href = leftArrow.getAttribute('href');
      } else if (event.key === 'ArrowRight' && rightArrow) {
        window.location.href = rightArrow.getAttribute('href');
      }
    });
  </script>
  