---

---
<div class="container mx-auto text-center p-4 m-4">
    <h2 class="text-center uppercase text-l mb-4 mt-2 font-bold">Food provided by</h2>
<a href="https://www.rocobbq.co.uk" target="_blank">
    <img src="images/roco-bbq.jpg" alt="Roco-BBQ" class="h-16 md:h-24 mx-auto">
</a>
</div>