--- 
import slack from '/src/images/slack-color.svg';
import twitter from '/src/images/x-social-media-white-icon.svg';
---
<footer class="bg-purple-700 text-white">
    <div class="max-w-screen-xl mx-auto px-4 py-5 flex flex-col space-y-8 md:space-y-4"> <!-- Increased space between rows -->
      <div class="flex flex-wrap items-center justify-start gap-4 text-left"> <!-- Ensured text alignment is left -->
        <a href="/conduct/index.html" class="hover:underline">Code of Conduct</a>
        <a href="https://www.digitallincoln.co.uk/join" class="hover:underline flex items-center">
          Join us on slack
          <img src={slack.src} alt="slack - talk with us on Digital Lincoln slack" class="h-auto w-8 inline-block ml-2" />
        </a>
        <a href="https://twitter.com/LincsHack" class="hover:underline flex items-center">
          Follow us on X
          <img src={twitter.src} alt="x - follow us on X formerly Twitter" class="h-auto w-8 inline-block ml-2" />
        </a>
        <a href="mailto:hello@lincolnhack.org" class="hover:underline">Contact us by email</a>
      </div>
      <div class="text-sm text-left"> <!-- Ensured text alignment is left -->
        <a href="https://lincolnhack.org/" class="hover:underline">© copyright LincolnHack and DigitalLincoln 2024</a>. All Rights Reserved.
      </div>
    </div>
  </footer>