<div class="md:w-11/12 mx-auto mt-5 mb-5">
    <div class="bg-white shadow sm:rounded-lg min-h-screen">
        <div class="w-full p-5">
            <div class="mx-auto">
               <slot/>
            </div>
        </div>
    </div>
</div>