---
import { Image } from 'astro:assets';
const images = await Astro.glob("/src/images/*").then(files => {
  return files.map(file => file.default);
});
---

<div class="grid-container">
  {images.map((image, index) => (
    <div class="bg-white shadow-md rounded-lg overflow-hidden">
      <Image
        class="w-full h-48 object-cover"
        width="600"
        height="600"
        src={image}
        alt={`Gallery image ${index + 1}`}
        loading="lazy"
      />
    </div>
  ))}
</div>

<style>
.grid-container {
  display: grid;
  gap: 1rem;
  margin: 1rem;
  grid-template-columns: repeat(4, 1fr); /* default to 4 columns */
}

/* For small screens, use 2 columns */
@media (max-width: 576px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* For extra small screens, use 1 column */
@media (max-width: 400px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
</style>
  