---
import { Image } from 'astro:assets';
const images = await Astro.glob("/src/images/*").then(files => {
  return files.map(file => file.default);
});
---

<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 p-4">
    {/* Slides */}
    {images.map((image, index) => (
      <div class={`flex items-center justify-center bg-white shadow-md rounded-lg overflow-hidden ${index >= images.length - 2 ? 'md:hidden lg:flex' : ''}`}>
        <Image 
          class="w-full h-36 object-cover" // Adjust the height as needed
          width="500"
	        height="500"
          src={image} 
          alt={`scene at lincolnhack 2019 showing hackers ${index + 1}`} 
          loading="lazy"
        />
      </div>
    ))}
  </div>
  