---
const { selected } = Astro.props;
---
<header class="uppercase lincolnHack-purple text-white p-4">
    <div class="container mx-auto flex justify-between items-center">
        <a href="/" class="shareTechFont text-lg font-bold">LincolnHack 2024</a>
        <nav>
            <ul class="flex space-x-4">
                <li><a href="/" class="hover:text-blue-300">Home</a></li>
                <li><a href="/faq/index.html" class="hover:text-blue-300">FAQ</a></li>
                <li>
                   <!-- <a href="/#register"
                        class="button-dark-purple hover:bg-purple-800 text-white font-bold py-2 px-4 rounded transition duration-300">
                        Register Now
                    </a> -->
                </li>
            </ul>
        </nav>
    </div>
</header>

<div id="countdown">
    <div class="button-dark-purple text-white font-bold py-2 px-4 text-center">
        <span>Registration opens in</span>
        <span id="days">31</span> days
        <span id="hours">23</span> hrs
        <span id="minutes">59</span> mins
        <span id="seconds">59</span> secs
    </div>
</div>




<script>
function updateCountdown(visible = true) {
const eventDate = new Date("February, 26 2024 00:00:00").getTime();
const now = new Date().getTime();
const difference = eventDate - now;
const days = Math.floor(difference / (1000 * 60 * 60 * 24));
const hours = Math.floor((difference % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
const minutes = Math.floor((difference % (1000 * 60 * 60)) / (1000 * 60));
const seconds = Math.floor((difference % (1000 * 60)) / 1000);

document.getElementById("days").innerText = days;
document.getElementById("hours").innerText = hours;
document.getElementById("minutes").innerText = minutes;
document.getElementById("seconds").innerText = seconds;
if(visible){
    document.getElementById("countdown").style.display = "block";
}



if (difference < 0) {
    clearInterval(interval);
    document.getElementById("countdown").innerHTML = '<div class="button-dark-purple text-white font-bold py-2 px-4 text-center">Registration Now Open!</div>';
}
}

document.getElementById("countdown").style.display = "none";
updateCountdown();
// Update the countdown every 1 second
const interval = setInterval(updateCountdown, 1000);

</script>