<div class="max-w-4xl mx-auto mt-5 mb-5">
    <div class="bg-white shadow overflow-hidden sm:rounded-lg min-h-screen">
        <div class="w-full md:w-3/4 p-5">
            <div class="max-w-4xl mx-auto px-4 py-8">
               <slot/>
            </div>
        </div>
    </div>
</div>