<section class="bg-white">
    <div class="container mx-auto text-center p-4 m-4">
        <h2 class="uppercase text-2xl font-bold mb-6 sm:mb-4">Our Partners</h2>

        <div
        class="flex flex-col sm:flex-row justify-center items-center gap-12 sm:gap-20 m-3 w-full md:w-3/4 lg:w-1/2 m-auto">
        <div>
            <a href="https://www.digitallincoln.co.uk" target="_blank">
                <img src="images/digital-lincoln.svg" alt="Digital Lincoln" class="h-16 md:h-24 mx-auto">
            </a>
        </div>



        <div>
            <a href="https://www.mosaiclincoln.co.uk" target="_blank">
                <img src="images/moasic.svg" alt="Mosaic Lincoln Digital Hub" class="h-16 md:h-24 mx-auto">
            </a>
        </div>
    </div>

    </div>
   <p class="text-center text-xs italic bg-gray-200 p-2">Lincoln<span class="font-bold">Hack</span> operates on a non-profit basis, with all funds dedicated to the operation of Lincoln<span class="font-bold">Hack</span> and the support of the Digital Lincoln tech community.</p>
</section>