<section class="bg-gray-50">
    
    <div class="container mx-auto text-center p-4 m-4">
        <h3 class="text-center uppercase mb-4 font-bold">LincolnHack Supporter Sponsors</h3>
        <div
            class="flex flex-col sm:flex-row justify-center items-center gap-4 sm:gap-12 w-3/4  m-auto">
            <div>
                <a href="https://cooperpress.com" target="_blank">
                    <img src="images/cooperpress.svg" alt="Cooper Press" class="h-16 md:h-24 mx-auto">
                </a>
            </div>

            <div>
                <a href="https://recap.io" target="_blank">
                    <img src="images/recap.svg" alt="Recap" class="h-16 md:h-24 mx-auto">
                </a>
            </div>

            <div>
                <a href="https://laser.red" target="_blank">
                    <img src="images/laser-red.svg" alt="Laser Red" class="h-16 md:h-24 mx-auto">
                </a>
            </div>
            <div>
                <a href="https://willsuite.co.uk" target="_blank">
                    <img src="images/willsuite.svg" alt="WillSuite" class="h-16 md:h-24 mx-auto">
                </a>
            </div>
        </div>
    </div>
</section>