---
import Layout from "../layouts/Layout.astro";
import Page from "../components/Page.astro";
import Agenda from "../components/Agenda.astro";
---

<Layout title="Agenda">
    <Page>
        <h1 class="text-3xl font-bold text-gray-900 mb-4">
            Weekend Agenda
        </h1>

        <Agenda />
    </Page>
</Layout>
