---
import Layout from "../layouts/Layout.astro";

---
<Layout title="Challenges">

  <div class="max-w-4xl mx-auto mt-5 mb-5" transition:animate="slide">

    <div class="bg-white shadow overflow-hidden sm:rounded-lg min-h-screen">
        <div class="w-full p-5">
         
          <div class="text-center">
            <h1 class="text-4xl md:text-5xl font-extrabold mt-6 mb-6">
                Embrace The Challenges
            </h1>
            <p class="mb-12 mx-auto leading-relaxed">
              Welcome to a spectacle of zest and zeal, where innovation collides with a truckload of lemons! 
              Yes, you heard it right — one year, our brave hackers attempted to revolutionise power storage with nothing but lemons. Spoiler: it didn't light up the world, but nor did it leave us with a sour taste - for they embraced the challenge. It's become a legendary tale in the annals of LincolnHack lore. Dive into each challenge and who knows? You might just find a way to power a spaceship with a grapefruit, or at least win some electrifying prizes!</p>
          
              <p class=" mb-12 mx-auto leading-relaxed">
                Special thanks to our sponsors for providing the challenges and prizes. 
                We couldn't do it without you! <span class="font-bold inline-block">Click each logo to see the challenge and prize details.</span>
              </p>
          </div>
          <!-- Companies Logos and Links -->
          <div class="flex flex-col items-center justify-center gap-8">
              <!-- Streets Heaver -->
              <a href="/streets-heaver" class="transform hover:scale-110 transition-transform duration-300">
                  <img src="../images/streets-heaver-round.png" alt="Streets Heaver Logo" class="h-32">
              </a>
                <!-- Epix Media -->
              <a href="/epix-media" class="transform hover:scale-110 transition-transform duration-300">
                  <img src="../images/epix-media-logo.svg" alt="Epix Media Logo" class="h-32">
              </a>
              <!-- PageTiger -->
              <a href="/pagetiger" class="transform hover:scale-110 transition-transform duration-300">
                  <img src="../images/pagetiger.svg" alt="PageTiger Logo" class="h-32">
              </a>
                <!-- Rebel -->
                <a href="/rebel" class="transform hover:scale-110 transition-transform duration-300">
                  <img src="../images/rebel.svg" alt="Rebel Recruiters Logo" class="h-32">
              </a>
          </div>

        </div>
    </div>
  </div>
</Layout>


