---
import Layout from "../layouts/Layout.astro";

---
<Layout title="LincolnHack Code of Conduct">

<div class="max-w-4xl mx-auto p-5">
    <h2 class="text-2xl font-bold mb-6 text-gray-800">Important information for attendees</h2>

        <div class="bg-white shadow overflow-hidden sm:rounded-lg min-h-screen flex flex-col space-y-3">
            <h3 id="code-of-conduct" class="shareTechFont p-5 text-2xl font-bold mb-2 text-gray-800">Code of Conduct</h3>
            <p class="subpixel-antialiased  p-5 mt-2 text-sm text-gray-600">LincolnHack is a community event intended for networking, collaboration, and learning. We value the participation of each member of the community and want all attendees to have an enjoyable and fulfilling experience. Accordingly, all attendees are expected to show respect and courtesy to other attendees throughout the event and at all event-related social gatherings.</p>
         
            <p class="subpixel-antialiased  p-5 mt-2 text-sm text-gray-600" >LincolnHack is dedicated to providing a harassment-free safe event experience for everyone.
            We wholly subscribe to the Hack Code of Conduct and expect all participants to adhere to it.
            <a href="https://hackcodeofconduct.org/" class="text-blue-500">https://hackcodeofconduct.org/</a>
            </p>
            
             <p class="subpixel-antialiased  p-5 mt-2 text-sm text-gray-600"> As this is a hackathon, we like to explicitly note that the hacks created at our hackathon are equally subject to the code of conduct policy and should not include any offensive or sexualised content or content that could cause offense, please contact organisers for any clarification if in doubt. Sponsors and partners are also subject to the code of conduct policy. In particular, sponsors should not use sexualized or offensive images, activities, or other material. Sponsor representatives (including volunteers) should not use sexualized or offensive clothing/ uniforms/costumes or otherwise, create a uncomfortable environment. 
             <hr />
            <p class="subpixel-antialiased  font-bold p-5 mt-2 text-sm text-gray-600"> If you find this code of conduct being violated, please contact a member of the LincolnHack team or security immediately. Team members will be will be easily identifiable and an emergency contact number will be provided at the event.</p>
            <p class="subpixel-antialiased  p-5 mt-2 text-sm text-gray-600 font-bold">Participants asked to stop any harassing behavior are expected to comply immediately. The hackathon organizers may take any action they deem appropriate. This includes warning the offender, expulsion from the hackathon, or reporting their behavior to local law enforcement</p>
          
            <h3 id="safety" class="shareTechFont p-5 text-2xl text-gray-800">Your Safety</h3>
            <p class="subpixel-antialiased  p-5 mt-2 mb-6 text-sm text-gray-600">
            The organisers of LincolnHack are dedicated to providing a safe and comfortable environment for all attendees. 
            </p>
            <p class="subpixel-antialiased  p-5 mt-2 text-sm text-gray-600"> A risk assessment of the environment has been carried out prior to the event and any identified risks will be mitigated. The venue will have acess to first aid equipment on site.
            </p>
            <p class="subpixel-antialiased  p-5 mt-2 text-sm text-gray-600"> If you have any concerns about your safety or the safety of others, please contact a member of the LincolnHack team or security immediately. Team members will be will be easily identifiable and an emergency contact number will be provided at the event.</p>
            
            <hr />
            <p class="subpixel-antialiased  font-bold p-5 mt-2 text-sm text-gray-600"> If you find any unsafe item or have any safety concerns, please contact a member of the LincolnHack team or security immediately. Team members will be will be easily identifiable and an emergency contact number will be provided at the event.</p>

        </div>
    </div>
</div>
</Layout>