---
import Layout from "../layouts/Layout.astro";
import ChallengeWrapper from "../components/ChallengeWrapper.astro";
---

<Layout title="Epix Media Challenge">
  <ChallengeWrapper left="/streets-heaver" right="/pagetiger">
    <div class="text-center pb-16">
      <div class="flex justify-center">
      <img
        src="../images/epix-media-logo.svg"
        alt="Epix Media"
        class="h-40 w-auto"
      />
    </div>
    <p class="mt-4 max-w-3xl text-xl text-gray-500 mx-auto">
      Championing Lincoln's Technology and Creative Industries.
    </p>
  </div>

  <div class="max-w-3xl mx-auto px-4">
    <p class="mb-4 text-gray-700">
      Businesses need brilliant creative, backed by solid strategy, to get to
      customers and make an impression that lasts.
    </p>

    <p class="mb-4 text-gray-700">
      Our work across brand development to in-house web, video and design, helps
      local and national organisations grow. But we're not just about business;
      we're about championing our home city. We want Lincoln to keep thriving as
      a hub for innovation, technology, and creativity.
    </p>

    <p class="mb-4 text-gray-700">
      Our services, ranging from insights-driven marketing to award-winning
      video production, are tailored to empower local businesses and
      organizations. With a focus on sustainability and community support, we're
      not just about business; we're about building a better future for Lincoln.
    </p>

    <p class="mb-4 text-gray-700">
      We've proudly supported every <span class="font-semibold"
        >LincolnHack</span
      > since it began, giving back to the community that has fuelled our growth
      🧡
    </p>

    <p class="mb-4 text-gray-700">
      Visit the <a
        href="https://www.epixmedia.co.uk"
        class="text-blue-600 hover:text-blue-800 transition duration-300 ease-in-out"
        >Epix Media</a
      > for more information.
    </p>
  </div>

  <div class="max-w-3xl mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold text-gray-900 mb-4">Challenge</h1>

    <p class="mb-4 text-gray-700">To follow...</p>
  </div>
  </ChallengeWrapper>
</Layout>
