---
import Layout from "../layouts/Layout.astro";
import ChallengeWrapper from "../components/ChallengeWrapper.astro";
---

<Layout title="Epix Media Challenge">
  <ChallengeWrapper
    left="/streets-heaver/index.html"
    right="/pagetiger/index.html"
  >
    <div class="text-center pb-16">
      <div class="flex justify-center">
        <img
          src="../images/epix-media-logo.svg"
          alt="Epix Media"
          class="h-40 w-auto"
        />
      </div>
      <p class="mt-4 max-w-3xl text-xl text-gray-500 mx-auto">
        Championing Lincoln's Technology and Creative Industries.
      </p>
    </div>

    <div class="max-w-3xl mx-auto px-4">
      <p class="mb-4 text-gray-700">
        Businesses need brilliant creative, backed by solid strategy, to get to
        customers and make an impression that lasts.
      </p>

      <p class="mb-4 text-gray-700">
        Our work across brand development to in-house web, video and design,
        helps local and national organisations grow. But we're not just about
        business; we're about championing our home city. We want Lincoln to keep
        thriving as a hub for innovation, technology, and creativity.
      </p>

      <p class="mb-4 text-gray-700">
        We've proudly supported every <span class="font-semibold"
          >LincolnHack</span
        > since it began, giving back to the community that has fuelled our growth
        🧡
      </p>

      <p class="mb-4 text-gray-700">
        Visit the <a
          href="https://www.epixmedia.co.uk"
          class="text-blue-600 hover:text-blue-800 transition duration-300 ease-in-out"
          >Epix Media</a
        > for more information.
      </p>
    </div>

    <div class="max-w-3xl mx-auto px-4 py-8">
      <h1 class="text-2xl font-bold text-gray-900 mb-4">Challenge: 32k Game Challenge</h1>

      <p class="mb-4 text-gray-700">
        We're bringing back a spin on our favourite challenge from the very
        first LincolnHack...
      </p>
      <p class="mb-4 text-gray-700">
        In 2016 Team Epix won the 24k Game Challenge with "Wreck It Rob", and
        this year we have the 32k Game Challenge for you! The original Super
        Mario game for the NES was coded, with graphics, audio and a range of
        levels at a file size of just 32kb. Our challenge to you is to create a
        playable game in 24 hours at the same file size, or less! And if it can
        include Rob or one of the LincolnHack team, all the better...
      </p>
      Good luck - we can't wait to see what you create!
    </div>

    <div class="max-w-3xl mx-auto px-4 py-8">
      <h2 class="text-2xl font-bold text-gray-900 mb-4">Prizes</h2>

      <p class="text-gray-700">Prizes will be announced on the day!</p>
    </div>
  </ChallengeWrapper>
</Layout>
