---
import Layout from "../layouts/Layout.astro";

---
<Layout title="Epix Media: Creative Excellence">

<div class="max-w-4xl mx-auto mt-5 mb-5">

  <div class="bg-white shadow overflow-hidden sm:rounded-lg min-h-screen">
    <div class="w-full p-5">

  
          
                <div class="text-center pt-16 pb-20">
                  <div class="flex justify-center">
                    <img src="../images/epix-media-logo.svg" alt="Epix Media" class="h-40 w-auto">
                  </div>
                  <h1 class="mt-12 text-4xl font-bold text-gray-900 sm:text-5xl md:text-6xl">Epix Media</h1>
                  <p class="mt-4 max-w-2xl text-xl text-gray-500 mx-auto">
                    Championing Lincoln's Technology and Creative Industries.
                  </p>
                </div>
          
                <div class="max-w-4xl mx-auto px-4 ">
                  <p class="mb-4 text-gray-700">
                    Rooted in the heart of Lincoln, Epix Media has been at the forefront of fostering a vibrant technology and creative community. Our commitment goes beyond delivering cutting-edge web design and digital marketing solutions; we're passionate about seeing Lincoln thrive as a hub for innovation and technology.
                  </p>
          
                  <p class="mb-4 text-gray-700">
                    As proud supporters of every single LincolnHack since its inception, we believe in giving back to the community that has fueled our growth. Our team's dedication to community engagement and development is a testament to our belief in Lincoln's potential as a center for technology excellence.
                  </p>
          
                  <p class="mb-4 text-gray-700">
                    Our services, ranging from insights-driven marketing to award-winning video production, are tailored to empower local businesses and organizations. With a focus on sustainability and community support, we're not just about business; we're about building a better future for Lincoln.
                  </p>
                  
                  <p class="mb-4 text-gray-700">
                    Discover how our expertise and local commitment can help your brand stand out. Visit <a href="https://www.epixmedia.co.uk" class="text-blue-600 hover:text-blue-800 transition duration-300 ease-in-out">Epix Media</a> for more about our work and our vision for Lincoln.
                  </p>
                </div>
          
         
          
          

      <div class="max-w-4xl mx-auto px-4 py-8">
        <h1 class="text-3xl font-bold text-gray-900 mb-4">Challenge</h1>
        
        <p class="mb-4 text-gray-700">
          To follow...
        </p>
      

      </div>

    </div>
  </div>
</div>
</Layout>
