---
import Layout from "../layouts/Layout.astro";

---
<Layout title="Epix Media: Creative Excellence">

<div class="max-w-4xl mx-auto mt-5 mb-5">

  <div class="bg-white shadow overflow-hidden sm:rounded-lg min-h-screen">
    <div class="w-full p-5">

      <div class="text-center pt-16 pb-20">
        <div class="flex justify-center">
          <img src="../images/epix-media-logo.svg" alt="Epix Media" class="h-40 w-auto">
        </div>
        <h1 class="mt-12 text-4xl font-bold text-gray-900 sm:text-5xl md:text-6xl">Epix Media</h1>
        <p class="mt-4 max-w-2xl text-xl text-gray-500 mx-auto">
          Uniting Insights and Creativity for Ambitious Brands.
        </p>
      </div>

      <div class="max-w-4xl mx-auto px-4 ">
        <p class="mb-4 text-gray-700">
          At Epix Media, we leverage over a decade of expertise to craft bespoke creative solutions that get noticed. From web design to video content, our award-winning team is dedicated to elevating brands and ensuring their message resonates with the intended audience.
        </p>

        <p class="mb-4 text-gray-700">
          Our services span insights, web design, brand & design, video & content, and marketing, each tailored to amplify your presence where it matters most. With a keen focus on digital and offline marketing, we initiate every project with a discovery phase to align our strategy with your goals, ensuring a measurable impact.
        </p>

        <p class="mb-4 text-gray-700">
          Our portfolio reflects our commitment to excellence, showcasing projects that span various industries and disciplines, all aimed at informing, exciting, and persuading target audiences effectively.
        </p>
        
        <p class="mb-4 text-gray-700">
          Discover more about our transformative work and how we can help your brand stand out. Visit <a href="https://www.epixmedia.co.uk" class="text-blue-600 hover:text-blue-800 transition duration-300 ease-in-out">Epix Media</a> for insights and inspiration.
        </p>
      </div>

      <div class="max-w-4xl mx-auto px-4 py-8">
        <h1 class="text-3xl font-bold text-gray-900 mb-4">Challenge</h1>
        
        <p class="mb-4 text-gray-700">
          To follow...
        </p>
      

      </div>

    </div>
  </div>
</div>
</Layout>
