---
import Layout from "../layouts/Layout.astro";
import FAQ from "../components/FAQ.astro";
---
<Layout title="LincolnHack FAQ">
    <div class="max-w-4xl mx-auto mt-5 mb-5">
        <div class="bg-white shadow overflow-hidden sm:rounded-lg min-h-screen">
            <div class="w-full md:w-2/3 p-5">
            <h3 id="code-of-conduct" class="shareTechFont  pb-2 text-1xl font-bold mb-2 text-gray-800 uppercase">Frequently Asked Questions</h3>
            <FAQ></FAQ>
    </div>
</div>
</div>
</Layout>