---
import Layout from "../layouts/Layout.astro";
import FAQ from "../components/FAQ.astro";
---

<Layout title="LincolnHack FAQ">
    <div class="max-w-4xl mx-auto mt-5 mb-5">
        <div class="bg-white shadow overflow-hidden sm:rounded-lg min-h-screen">
            <div class="w-full md:w-3/4 p-5">
                <div class="max-w-4xl mx-auto px-4 py-8">
                    <h1
                        id="code-of-conduct"
                        class="text-3xl font-bold text-gray-900 mb-4"
                    >
                        Frequently Asked Questions
                    </h1>
                    <FAQ />
                </div>
            </div>
        </div>
    </div>
</Layout>
