---
import Layout from "../layouts/Layout.astro";
import Page from "../components/Page.astro";
import GalleryComponent from "../components/HackGallery.astro";
---

<Layout title="Gallery">
    <Page>
        <h1 class="text-3xl font-bold text-gray-900 mb-4">
            Photos
        </h1>
        <GalleryComponent />
    </Page>
</Layout>
