---
import Layout from '../layouts/Layout.astro';
import GoldSponsors from '../components/GoldSponsors.astro';
import Supporters from '../components/Supporters.astro';
import Partners from '../components/Partners.astro';
import ImpAnimation from '../components/ImpAnimation.astro';
import Intro from '../components/Intro.astro';
import RegisterInterest from '../components/RegisterInterest.jsx';
---

<Layout title="LincolnHack 2024">

    <main class="container mx-auto px-4">
        <div class="flex flex-col md:flex-row items-center">
            <div class="w-full md:w-1/3">
				<ImpAnimation></ImpAnimation>
            </div>
			<Intro></Intro>
        </div>
    </main>

    <RegisterInterest client:only="react"></RegisterInterest>

  
    <section class="bg-gray-200">
        <div class="container mx-auto text-center p-6">
            <h2 class="uppercase text-3xl font-bold mb-4 text-pretty">Our Sponsors</h2>
            <p class="text-pretty">Lincoln<span class="font-bold">Hack</span> is made possible thanks to the generous
                support of our valued sponsors.</p>


        </div>
    </section>


<GoldSponsors></GoldSponsors>

<Supporters></Supporters>

<Partners></Partners>

</Layout>