---
import Layout from "../layouts/Layout.astro";

---
<Layout title="Menu">

  <div class="max-w-4xl mx-auto mt-5 mb-5">

    <div class="bg-white shadow overflow-hidden sm:rounded-lg min-h-screen">
        <div class="w-3/4 p-5">
         
          <h1 class="text-4xl md:text-5xl font-extrabold mt-6 mb-6">
         Menu
      </h1>
          
            <p class="mb-12 mx-auto leading-relaxed">
              LincolnHack prides itself on the quality of its food. This year, we are thrilled to announce that our catering is provided by RocoBBQ, known for their exceptional culinary skills and dedication to creating mouthwatering dishes. With a diverse menu designed to cater to various tastes and dietary requirements, RocoBBQ ensures that every attendee can enjoy delicious meals throughout the event. Explore more about their offerings at <a href="https://www.rocobbq.co.uk" class="text-blue-500 hover:text-blue-800">RocoBBQ</a>.
            </p>
          
            <p class="mb-12 mx-auto leading-relaxed">
              <strong class="block mb-2">Lunch Saturday</strong>
              <em>Bento Bowls:</em> Chili and lime Chicken or Tofu Pieces, Rice Salad, Mixed Leaf Salad, Selection of Toppings, and Dressing.
            </p>
          
            <p class="mb-12 mx-auto leading-relaxed">
              <strong class="block mb-2">Dinner Saturday</strong>
              <em>Chili Night:</em> Pulled Pork Chili or Bean Chili with Wild Rice and a Build-Your-Own Nachos Station.
            </p>
          
            <p class="mb-12 mx-auto leading-relaxed">
              <strong class="block mb-2">Breakfast Sunday</strong>
              <em>Morning Delight:</em> Sausage/Veggie Sausage or Bacon Sandwich and a Build-Your-Own Fruit, Yogurt, and Granola Station.
            </p>
          
            <p class="mb-12 mx-auto leading-relaxed">
              <strong class="block mb-2">Lunch Sunday</strong>
              <em>Taco Fiesta:</em> 2 Tacos with Buttermilk Fried Chicken or Southern Fried Chick'n and Fries.
            </p>
          
          

        </div>
    </div>
  </div>
</Layout>

