---
import Layout from "../layouts/Layout.astro";
import ChallengeWrapper from "../components/ChallengeWrapper.astro";
---

<Layout title="Pagetiger Challenge">
  <ChallengeWrapper left="/epix-media/index.html" right="/rebel/index.html">
    <div class="text-center pb-16">
      <div class="flex justify-center">
        <img
          src="../images/pagetiger.svg"
          alt="PageTiger"
          class="h-40 w-auto"
        />
      </div>
      <p class="mt-4 max-w-3xl text-xl text-gray-500 mx-auto">
        Pioneering Digital Innovation from Lincoln to the World.
      </p>
    </div>

    <div class="max-w-3xl mx-auto px-4">
      <p class="mb-4 text-gray-700">
        PageTiger is a leading innovator in the online publishing arena. With
        two UK offices in Richmond and Lincoln, the company is experiencing
        consistent success. The ground-breaking system has been adopted by some
        of the world’s biggest brands to create online communications.
      </p>
    </div>

    <div class="max-w-3xl mx-auto px-4 py-8">
      <h1 class="text-3xl font-bold text-gray-900 mb-4">Challenge: The Tiger's Stripe</h1>

      <p class="mb-4 text-gray-700">
        At Pagetiger, our affection for tigers isn't just in our name—it's an obsession! For LincolnHack 2024, we're unleashing our inner big cats. Your mission, should you choose to accept it (and we really hope you do, because it's going to be epic), is to conjure up something spectacularly tiger-themed. Let your imagination roam wild and free through the jungle of creativity. Remember, in this challenge, stripes are more than just a fashion statement—they're a way of life!
      </p>
    </div>
    <div class="max-w-3xl mx-auto px-4 py-8">
      <h2 class="text-3xl font-bold text-gray-900 mb-4">Prizes</h2>

      <p class="text-gray-700">
        Prizes will be announced on the day! They're ggggggreat!
      </p>
    </div>
  </ChallengeWrapper>
</Layout>
