---
import Layout from "../layouts/Layout.astro";
---
<Layout title="PageTiger: Revolutionizing Digital Content">

<div class="max-w-4xl mx-auto mt-5 mb-5">

  <div class="bg-white shadow overflow-hidden sm:rounded-lg min-h-screen">
    <div class="w-full p-5">

      <div class="text-center pt-16 pb-20">
        <div class="flex justify-center">
          <img src="../images/pagetiger.svg" alt="PageTiger" class="h-40 w-auto">
        </div>
        <h1 class="mt-12 text-4xl font-bold text-gray-900 sm:text-5xl md:text-6xl">PageTiger</h1>
        <p class="mt-4 max-w-2xl text-xl text-gray-500 mx-auto">
          Engaging Digital Documents for Every Audience.
        </p>
      </div>

      <div class="max-w-4xl mx-auto px-4 ">
        <p class="mb-4 text-gray-700">
          PageTiger offers an innovative design suite for creating stunning digital documents that engage, inform, and educate. With tools for adding interactive elements like tests and assessments, users can craft secure and compliant presentations and packs that truly stand out.
        </p>

        <p class="mb-4 text-gray-700">
          From intuitive design tools that adhere to your brand guidelines to distribution methods that suit your needs, PageTiger simplifies the process of creating digital content that captivates your audience. With comprehensive analytics, gain deep insights into audience engagement and behaviors.
        </p>

        <p class="mb-4 text-gray-700">
          Our array of features includes video players, image galleries, quizzes, SEO optimization, and more, ensuring that your content is not only visually impressive but also interactive and accessible to a wide audience&#8203;``【oaicite:6】``&#8203;.
        </p>
        
        <p class="mb-4 text-gray-700">
          Founded in 2008, PageTiger is a trailblazer in online publishing, trusted by some of the world's biggest brands. Our commitment to innovation and security is underscored by prestigious certifications like ISO 27001:2013 and Cyber Essentials&#8203;``【oaicite:5】``&#8203;.
        </p>
      </div>


      <div class="max-w-4xl mx-auto px-4 py-8">
        <h1 class="text-3xl font-bold text-gray-900 mb-4">Challenge</h1>
        
        <p class="mb-4 text-gray-700">
          To follow...
        </p>
      

      </div>

    </div>
  </div>
</div>
</Layout>
