---
import Layout from "../layouts/Layout.astro";
import ChallengeWrapper from "../components/ChallengeWrapper.astro";
---

<Layout title="Pagetiger Challenge">
  <ChallengeWrapper left="/epix-media" right="/rebel">
    <div class="text-center pb-16">
      <div class="flex justify-center">
      <img src="../images/pagetiger.svg" alt="PageTiger" class="h-40 w-auto" />
    </div>
    <p class="mt-4 max-w-3xl text-xl text-gray-500 mx-auto">
      Pioneering Digital Innovation from Lincoln to the World.
    </p>
  </div>


  <div class="max-w-3xl mx-auto px-4">
    <p class="mb-4 text-gray-700">
      Rooted in the historic city of Lincoln, <span class="font-semibold"
        >PageTiger</span
      > is at the forefront of digital document innovation. Our cutting-edge design
      suite transforms the way businesses engage, educate, and inform audiences worldwide.
    </p>

    <p class="mb-4 text-gray-700">
      Not just a global technology leader, PageTiger is deeply invested in
      Lincoln's technological renaissance. We played a pivotal role in designing
      the Mosaic digital hub, a testament to our commitment to fostering a
      collaborative tech environment in the city.
    </p>

    <p class="mb-4 text-gray-700">
      Our dedication extends to nurturing local talent. We are actively working
      with colleges and universities to develop apprenticeship programs, aiming
      to equip the next generation with the skills needed for success in the
      digital age. All of PageTiger's product development is proudly conducted
      in Lincoln, showcasing our city's innovation on a global stage.
    </p>

    <p class="mb-4 text-gray-700">
      Trusted by major brands across the globe, PageTiger's platform is a
      hallmark of quality and innovation. Our commitment to excellence is
      matched by our dedication to making Lincoln a hub of technology and
      creativity.
    </p>
    <p class="mb-4 text-gray-700">
      Visit the <a
        href="https://www.pagetiger.com/"
        class="text-blue-600 hover:text-blue-800 transition duration-300 ease-in-out"
        >PageTiger's website</a
      > to learn more.
    </p>
  </div>

  <div class="max-w-3xl mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold text-gray-900 mb-4">Challenge</h1>

    <p class="mb-4 text-gray-700">To follow...</p>
  </div>
  </ChallengeWrapper>
</Layout>
