---
import Layout from "../layouts/Layout.astro";
import ChallengeWrapper from "../components/ChallengeWrapper.astro";
---

<Layout title="Pagetiger Challenge">
  <ChallengeWrapper left="/epix-media" right="/rebel">
    <div class="text-center pb-16">
      <div class="flex justify-center">
      <img src="../images/pagetiger.svg" alt="PageTiger" class="h-40 w-auto" />
    </div>
    <p class="mt-4 max-w-3xl text-xl text-gray-500 mx-auto">
      Pioneering Digital Innovation from Lincoln to the World.
    </p>
  </div>


  <div class="max-w-3xl mx-auto px-4">
    <p class="mb-4 text-gray-700">
      To Follow...
    </p>


  </div>

  <div class="max-w-3xl mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold text-gray-900 mb-4">Challenge</h1>

    <p class="mb-4 text-gray-700">To follow...</p>
  </div>
  </ChallengeWrapper>
</Layout>
