---
import Layout from "../layouts/Layout.astro";
import ChallengeWrapper from "../components/ChallengeWrapper.astro";
---

<Layout title="Rebel Challenge">
    <ChallengeWrapper left="/pagetiger" right="/streets-heaver">

        <div class="text-center pb-16">
            <div class="flex justify-center">
              <img
                src="../images/rebel.svg"
                alt="Rebel Heaver"
                class="h-40 w-auto"
            />
        </div>
        <p class="mt-4 max-w-3xl text-xl text-gray-500 mx-auto">
            Empowering Tech Futures: Ethical Recruitment, Community Engagement.
            </p>
          </div>
    
    <div class="max-w-3xl mx-auto px-4">
        <p class="mb-4 text-gray-700">
            At <span class="font-semibold">Rebel Recruiters</span>, we're
            reshaping tech recruitment with our ethical, honest, and
            quality-focused approach. We take pride in being the most ethical
            tech recruiters, offering a refreshing alternative to the usual
            recruitment experience.
        </p>

        <p class="mb-4 text-gray-700">
            Our mission is centered on connecting unique talents with the roles
            they were meant for, all while providing unparalleled care and
            support. Beyond recruitment, we're deeply involved in the East
            Midlands tech scene, regularly supporting events like <span
                class="font-semibold">LincolnHack</span
            > to foster community and innovation.
        </p>

        <p class="mb-4 text-gray-700">
            Visit the <a
                href="https://www.rebelrecruiters.co.uk/"
                class="text-blue-600 hover:text-blue-800 transition duration-300 ease-in-out"
                >Rebel Recruiters website</a
            > to learn more about our mission.
        </p>
    </div>

    <div class="max-w-3xl mx-auto px-4 py-8">
        <h1 class="text-3xl font-bold text-gray-900 mb-4">Challenge</h1>

        <p class="mb-4 text-gray-700">To follow...</p>
    </div>
</ChallengeWrapper>
</Layout>
