---
import Layout from "../layouts/Layout.astro";
import ChallengeWrapper from "../components/ChallengeWrapper.astro";
---

<Layout title="Streets Heaver Challenge">
  <ChallengeWrapper left="/rebel/index.html" right="/epix-media/index.html">
    <div class="text-center pb-16">
      <div class="flex justify-center">
        <img
          src="../images/streets-heaver-round.png"
          alt="Streets Heaver"
          class="h-40 w-auto"
        />
      </div>
      <p class="mt-4 max-w-3xl text-xl text-gray-500 mx-auto">
        Leading the future of healthcare software solutions.
      </p>
    </div>

    <div class="max-w-3xl mx-auto px-4">
      <p class="mb-4 text-gray-700">
        For over 35 years, <strong class="font-semibold">Streets Heaver</strong>
        has been a leader in delivering the future-proofed healthcare software solution,
        <strong class="font-semibold">Compucare®</strong>, to health
        organisations nationwide and beyond.
      </p>

      <p class="mb-4 text-gray-700">
        Compucare optimises and simplifies patient data management, scheduling,
        billing, and interoperability across both private and NHS healthcare
        sectors. Dedicated to enhancing patient care through digital
        transformation, this award-winning family business boasts a team of over
        80 dedicated employees based in and around Lincoln. Streets Heaver
        prides itself on its commitment to employee development, sustainability,
        and community support.
      </p>

      <p class="mb-4 text-gray-700">
        As sponsors and challenge setters for <strong class="font-semibold"
          >LincolnHack</strong
        >, they demonstrate ongoing dedication to growth and innovation in the
        healthcare technology sector.
      </p>

      <p class="mb-4 text-gray-700">
        Visit the <a
          href="https://www.streets-heaver.com"
          class="text-blue-600 hover:text-blue-800 transition duration-300 ease-in-out"
          >Streets Heaver website</a
        > or <a
          href="https://www.linkedin.com/company/streets-heaver-healthcare-computing/"
          class="text-blue-600 hover:text-blue-800 transition duration-300 ease-in-out"
          >LinkedIn</a
        > for more information.
      </p>
    </div>

    <div class="max-w-3xl mx-auto px-4 py-8">
      <h1 class="text-2xl font-bold text-gray-900 mb-4">
        Challenge: Sustainability in the healthcare
      </h1>
      <p class="mb-4 text-gray-700">
        The healthcare industry faces numerous challenges related to
        sustainability, including resource consumption, waste generation, and
        environmental impact.
      </p>

      <p class="mb-4 text-gray-700 font-bold">
        We’d like you to design a solution that revolutionises sustainability
        practices within the healthcare sector.
      </p>

      <p class="mb-4 text-gray-700">
        Your challenge is to develop an innovative solution that addresses one
        or more aspects of sustainability in healthcare, such as reducing carbon
        footprint, minimising waste generation, optimising energy usage, or
        promoting eco-friendly practices.
      </p>

      <p class="mb-4 text-gray-700">
        By participating in this challenge, you can make a meaningful impact on
        the healthcare industry by advancing sustainable practices and
        contributing to a healthier planet for future generations.
      </p>

      <p class="mb-4 text-gray-700">
        We encourage you to think creatively and develop solutions that have the
        potential to transform the way healthcare operates while prioritising
        environmental considerations and social responsibility.
      </p>
    </div>
    <div class="max-w-3xl mx-auto px-4 py-8">
      <h2 class="text-2xl font-bold text-gray-900 mb-4">Prizes</h2>

      <p class="text-gray-700">Prizes will be announced on the day!</p>
    </div>
  </ChallengeWrapper>
</Layout>
