name: Release and Deploy

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./cdk

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    # Update version in package.json according to the tag
    - name: Check package version
      uses: technote-space/package-version-check-action@v1
      with:
        tag: true
 
    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
        aws-region: us-east-1

    - name: Get the version
      id: version
      run: echo ${{ github.sha}}

    - name: Bootstrap CDK
      run: npx cdk bootstrap

    - name: Deploy
      run: npx cdk deploy --require-approval never
