name: Release and Deploy 

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write
  id-token: write

jobs:
  
  create-release:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: /
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      
    - name: "Create release"
      uses: "./.github/actions/github/release"
      with:
        github-token: "${{ secrets.GITHUB_TOKEN }}"
    

  deployment-site:
    runs-on: ubuntu-latest
    if: contains(github.event.issue.labels.*.name, 'deploy-site')
    defaults:
      run:
        working-directory: ./cdk
    needs: create-release
    steps:

    - name: Checkout repository
      uses: actions/checkout@v4
 
    - name: Install cdk dependencies
      run: npm ci

    - name: run cdk build
      run: npm run build
      
    - name: get the latest artefact
      uses: actions/download-artifact@v4
      with:
        name: latest-site-artifact
        path: site

    - name: Bootstrap CDK
      run: npx cdk bootstrap

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
        aws-region: us-east-1
    

    - name: Deploy site 
      run: npx cdk deploy site --require-approval never
    
  
  deployment-infra:
    runs-on: ubuntu-latest
    needs: create-release
    if: contains(github.event.issue.labels.*.name, 'deploy-infra')
    environment: prod
    defaults:
      run:
        working-directory: ./cdk
    steps:

    - name: Checkout repository
      uses: actions/checkout@v4
 
    - name: Install cdk dependencies
      run: npm ci

    - name: run cdk build
      run: npm run build

    - name: Bootstrap CDK
      run: npx cdk bootstrap

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
        aws-region: us-east-1
    

    - name: Deploy infra 
      run: npx cdk deploy --all --require-approval never
      
