name:  Deploy latest release

on:
  release:
    types: [published]
  

permissions:
  contents: write
  pull-requests: write
  id-token: write

jobs:

  deployment-site:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./cdk
    needs: create-release
    steps:

    - name: Checkout repository
      uses: actions/checkout@v4
 
    - name: Install cdk dependencies
      run: npm ci

    - name: run cdk build
      run: npm run build
      
    - name: get the latest artefact
      run: |
        mkdir site
        aws s3 cp s3://lincolnhack-artefacts/ site --recursive
        cd site
        unzip latest-site-artifact.zip .

    - name: Bootstrap CDK
      run: npx cdk bootstrap

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
        aws-region: us-east-1
    

    - name: Deploy site 
      run: npx cdk deploy site --require-approval never
    
  
  deployment-infra:
    runs-on: ubuntu-latest
    needs: create-release
    environment: prod
    defaults:
      run:
        working-directory: ./cdk
    steps:

    - name: Checkout repository
      uses: actions/checkout@v4
 
    - name: Install cdk dependencies
      run: npm ci

    - name: run cdk build
      run: npm run build

    - name: Bootstrap CDK
      run: npx cdk bootstrap

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
        aws-region: us-east-1
    

    - name: Deploy infra 
      run: npx cdk deploy --all --require-approval never
      
