name: CD - Deploy and release 

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write
  id-token: write
  deployments: write

jobs:
  build-and-test:
    name: build
    uses: ./.github/workflows/build.yaml

  tag:
    runs-on: ubuntu-latest
    needs: 
      - build-and-test
    steps:
      - name: tag-for-release
        id: tag-for-release
        uses: ./.github/workflows/tag.yaml
    outputs:
      new_tag: ${{ steps.tag-for-release.outputs.new_tag }}
  upload-artifact:
    runs-on: ubuntu-latest
    needs: 
      - build-and-test
      - tag
    defaults:
      run:
        working-directory: ./site

    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          aws-region: us-east-1

      - name: Download artefact
        uses: actions/download-artifact@v4
        with:
          name: latest-site-artifact
          path: site

      - name: zip and upload to s3
        working-directory: ./site
        run: |
          zip -r latest-site-artifact.zip .
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
          aws s3 cp latest-site-artifact.zip s3://lincolnhack-artefacts/latest-site-artifact-${{ needs.tag.outputs.new_tag }}.zip
=======
          aws s3 cp latest-site-artifact.zip s3://lincolnhack-artefacts/latest-site-artifact-${{ env.new_tag }}.zip
>>>>>>> dce865c (added release conditions)
=======
          aws s3 cp latest-site-artifact.zip s3://lincolnhack-artefacts/latest-site-artifact-${{ steps.tag.outputs.new_tag }}.zip
>>>>>>> 630b517 (merge conflict)
=======
          aws s3 cp latest-site-artifact.zip s3://lincolnhack-artefacts/latest-site-artifact-${{ steps.tag-for-release.outputs.new_tag }}.zip
>>>>>>> 50c8a06 (added step)
=======
          aws s3 cp latest-site-artifact.zip s3://lincolnhack-artefacts/latest-site-artifact-${{ jobs.tag.tag-for-release.outputs.new_tag }}.zip
>>>>>>> eb5161d (tweak job output)
=======
          aws s3 cp latest-site-artifact.zip s3://lincolnhack-artefacts/latest-site-artifact-${{ jobs.tag.new_tag }}.zip
>>>>>>> 4145008 (amend jobs output syntax)
=======
          aws s3 cp latest-site-artifact.zip s3://lincolnhack-artefacts/latest-site-artifact-${{ env.new_tag }}.zip
>>>>>>> d5ff471 (wip)
  
  tag-exists:
    runs-on: ubuntu-latest
    needs: 
      - upload-artifact
<<<<<<< HEAD
<<<<<<< HEAD
      - tag
=======
>>>>>>> dce865c (added release conditions)
=======
      - tag
>>>>>>> 630b517 (merge conflict)
    steps:
      - uses: mukunku/tag-exists-action@v1.6.0
        id: check-tag
        with: 
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
          tag: ${{needs.tag.outputs.new_tag}}
=======
          tag: ${{jobs.tag.outputs.new_tag}}
>>>>>>> 2f13fa6 (get jobs output)
=======
          tag: ${{steps.tag-for-release.outputs.new_tag}}
>>>>>>> 50c8a06 (added step)
=======
          tag: ${{jobs.tag.tag-for-release.outputs.new_tag}}
>>>>>>> eb5161d (tweak job output)
=======
          tag: ${{jobs.tag.new_tag}}
>>>>>>> 4145008 (amend jobs output syntax)
=======
          tag: ${{env.new_tag}}
>>>>>>> d5ff471 (wip)
        
=======
          tag: ${{ env.new_tag }}
>>>>>>> dce865c (added release conditions)
=======
          tag: ${{steps.bump.outputs.new_tag}}
        
>>>>>>> 630b517 (merge conflict)

  release:
    if: steps.check-tag.outputs.exists == 'true'
    needs: 
      - upload-artifact
<<<<<<< HEAD
<<<<<<< HEAD
    uses: ./.github/workflows/release.yaml
    with:
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      tagged: ${{ needs.tag.outputs.new_tag }}
=======
    uses : ./.github/workflows/release.yaml
    with:
      tag: ${{ env.new_tag }}
>>>>>>> dce865c (added release conditions)
=======
    uses: ./.github/workflows/release.yaml
    with:
<<<<<<< HEAD
      tag: ${{ steps.tag.outputs.new_tag }}
>>>>>>> 630b517 (merge conflict)
=======
      tag: ${{ jobs.tag.outputs.new_tag }}
>>>>>>> 2f13fa6 (get jobs output)
=======
      tag: ${{ jobs.tag.tag-for-release.outputs.new_tag }}
>>>>>>> eb5161d (tweak job output)
=======
      tag: ${{ jobs.tag.new_tag }}
>>>>>>> 4145008 (amend jobs output syntax)
=======
      tag: ${{ env.new_tag }}
>>>>>>> d5ff471 (wip)
=======
      tagged: ${{ env.new_tag }}
>>>>>>> fc94fa5 (tired)
