name: Ci - Build Test and upload artefact

on:
  pull_request:
    branches:
      - main
permissions:
  contents: write
  id-token: write

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: set up astro
        shell: "bash"
        working-directory: ./astro-site
        run: |
          npm install
          npm run build

      - name: upload artefacts
        uses: actions/upload-artifact@v4
        with:
          name: latest-site-artifact
          path: site
      
      - name: Install dependencies
        run: npm ci
        working-directory: ./cdk
      - name: Build
        run: npm run build
        working-directory: ./cdk
      - name: Test
        run: npm test
        working-directory: ./cdk

  upload-artifact:
    runs-on: ubuntu-latest
    needs: build-and-test
    if: contains(github.event.pull_request.labels.*.name, 'deploy')
    defaults:
      run:
        working-directory: ./site
    steps:

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          aws-region: us-east-1

      - name: Download artefact
        uses: actions/download-artifact@v4
        with:
          name: latest-site-artifact
          path: site

      - name: zip and upload to s3
        run: |
          zip -r latest-site-artifact.zip .
          aws s3 cp latest-site-artifact.zip s3://lincolnhack-artefacts/latest-site-artifact.zip        

           