name: Ci - Build Test and create artefact

on:
  pull_request:
    branches:
      - main
permissions:
  contents: write
  id-token: write

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    uses: ./.github/workflows/build