name:  Deploy latest release

on:
 workflow_run:
    workflows: [Release and tag]
    types:
      - completed
        

permissions:
  contents: write
  pull-requests: write
  id-token: write
  deployments: write

jobs:

  deployment-site:
    runs-on: ubuntu-latest
    environment: prod
    defaults:
      run:
        working-directory: ./cdk
       
    steps:

    - name: Checkout repository
      uses: actions/checkout@v4
 
    - name: Install cdk dependencies
      run: npm ci

    - name: run cdk build
      run: npm run build

    
    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
        aws-region: us-east-1
   
      
    - name: get the latest artefact
      working-directory: /
      id: get-artefact
      run: |
        sudo -E mkdir ./site
        sudo -E aws s3 cp s3://lincolnhack-artefacts/latest-site-artifact.zip ./site/latest-site-artifact.zip --recursive
        sudo -E unzip ./site/latest-site-artifact.zip ./site
        rm ./site/latest-site-artifact.zip

    - name: Bootstrap CDK
      run: npx cdk bootstrap
      working-directory: ./cdk
 

    - name: Deploy site 
      run: npx cdk deploy site --require-approval never
    
  
  deployment-infra:
    runs-on: ubuntu-latest
    environment: prod
    strategy:
      matrix:
        stack: [StateMachine]

    defaults:
      run:
        working-directory: ./cdk
    steps:

    - name: Checkout repository
      uses: actions/checkout@v4
 
    - name: Install cdk dependencies
      run: npm ci

    - name: run cdk build
      run: npm run build

    - name: Bootstrap CDK
      run: npx cdk bootstrap
      needs: get-artefact

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
        aws-region: us-east-1
    

    - name: Deploy infra 
      run: npx cdk deploy  --require-approval never "${{ matrix.stack }}"
      
