name: Release and tag 

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write
  id-token: write

jobs:
  
  create-release:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: /
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Bump version and push tag
      if: contains(github.event.pull_request.labels.*.name, 'deploy')
      id: bump
      uses: anothrNick/github-tag-action@master
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        WITH_V: true
      
    - name: Create release
      if: contains(github.event.pull_request.labels.*.name, 'deploy')
      uses: "./.github/actions/github/release"
      with:
        github-token: "${{ secrets.GITHUB_TOKEN }}"
      
    
    - name: status
      if: contains(github.event.pull_request.labels.*.name, 'deploy') == false
      run: exit 0